<div class="contaner">
  <h2>Portfolio</h2>
  <div class="portfolio">
    <div id="projet1" class="project" (click)="showDescription(1 ,'projet1')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body"  [ngStyle]="{'display': projet[1]}">
      <h2>Web sementique </h2>
      <p>The Semantic Web is an extension of the World Wide Web through standards by the World Wide Web Consortium. The standards promote common data formats and exchange protocols on the Web, most fundamentally the Resource Description Framework.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="https://github.com/Sofiane-13/websemantique">En savoir plus</a>
      </p>
    </div>
    <div id="projet2" class="project" (click)="showDescription(2 ,'projet2')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body" [ngStyle]="{'display': projet[2]}">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
    <div id="projet3" class="project" (click)="showDescription(3 ,'projet3')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body" [ngStyle]="{'display': projet[3]}">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
    <div id="projet4" class="project" (click)="showDescription(4 ,'projet4')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">

      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body" [ngStyle]="{'display': projet[4]}">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
    <div id="projet5" class="project" (click)="showDescription(5 ,'projet5')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body" [ngStyle]="{'display': projet[5]}">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
    <div id="projet6" class="project" (click)="showDescription(6 ,'projet6')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2 class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="project__body" [ngStyle]="{'display': projet[6]}">
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
    <div id="projet7" class="project" (click)="showDescription(7 ,'projet7')">
      <img class="image" src="https://placeholdit.co/i/350x350?bg=e" class="project__image">
      <h2   class="project__name">lorem ipsum</h2>
      <div class="project__description">Consectetur adipisicing elit</div>
      <div class="project__body">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
          quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
          repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
        <p>
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div  class="project__body" [ngStyle]="{'display': projet[7]}" >
      <h2 >Lorem ipsum dolor sit amet consectetur adipisicing </h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laboriosam hic similique ducimus assumenda enim
        quod quo laborum dignissimos porro quia quos quam, minus odio culpa nam. Quis, iste eaque.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corrupti quod similique ad eum iusto. Pariatur,
        repellat dolores sequi qui, rerum animi, illo dolor assumenda cum necessitatibus sunt praesentium sapiente.</p>
      <p>
        <a href="#">En savoir plus</a>
      </p>
    </div>
  </div>
</div>
